<h1>view task</h1>

<h2>Name : <%= @tarea.titulo %></h2>
<h3>Description : <%= @tarea.description %></h3>
<% unless @tarea.usuario.nil? %>
<small>Escrito Por: <%= @tarea.usuario.email %></small><br>
<% end %>
<%= link_to("Lista", tareas_path, class: "btn btn-primary") %>